<header class="navbar" aria-label="Main Header">
  <div class="navbar__left">
    <button
      class="navbar__toggle"
      aria-label="Toggle Sidebar"
      id="sidebarToggle"
      hidden
    >
      <i class="fas fa-bars"></i>
    </button>
    <p class="greeting" style="font-size: 1.5rem">
      Hello,
      <span class="user_name" style="font-weight: bolder"
        >{{ request.user.get_full_name }}</span
      >
    </p>
  </div>
  <div class="navbar__right">
    <div
      class="notifications"
      tabindex="0"
      aria-haspopup="true"
      aria-controls=""
    >
      <a href="#">
        <i class="fas fa-bell fa-1.5x"></i>
      </a>
    </div>
  </div>
</header>
